{% extends 'layouts/base.html' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Planning application proof of concept</h1>

    <p class="govuk-body">A proof of concept to help us test the data model we are developing for planning applications.</p>

    <h2 class="govuk-heading-m">Pages</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/planning-application" class="govuk-link">Index of planning applications</a></li>
    </ul>
  </div>
</div>
{% endblock content %}
