{% extends 'layouts/base.html' %}

{% block beforeContent %}
{{ super() }}
<a href="/planning-application" class="govuk-back-link">Back to planning application register</a>
{% endblock beforeContent %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Planning application</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <section class="app-summary-card">
      <header class="app-summary-card__header">
        <h2 class="app-summary-card__title">
          Planning application record
        </h2>
      </header>
      <div class="app-summary-card__body">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Reference</dt>
            <dd class="govuk-summary-list__value">{{planning_application.reference}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Name</dt>
            <dd class="govuk-summary-list__value"></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Organisation</dt>
            <dd class="govuk-summary-list__value">{{planning_application.organisation_entity}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Description</dt>
            <dd class="govuk-summary-list__value">{{properties.description}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Address text</dt>
            <dd class="govuk-summary-list__value">{{properties["address-text"]}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">UPRN</dt>
            <dd class="govuk-summary-list__value"></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Geometry</dt>
            <dd class="govuk-summary-list__value">{{planning_application.geometry}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Point</dt>
            <dd class="govuk-summary-list__value">{{planning_application.point}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Documentation URL</dt>
            <dd class="govuk-summary-list__value"><a href="{{properties['documentation-url']}}">{{properties["documentation-url"]}}</a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Planning application type</dt>
            <dd class="govuk-summary-list__value"></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Planning decision</dt>
            <dd class="govuk-summary-list__value">{{properties["planning-decision"]}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Planning decision type</dt>
            <dd class="govuk-summary-list__value">{{properties["planning-decision-type"]}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Decision date</dt>
            <dd class="govuk-summary-list__value"></dd>
          </div>
        </dl>
      </div>
    </section>

    <section class="app-summary-card govuk-!-margin-top-6">
      <header class="app-summary-card__header">
        <h2 class="app-summary-card__title">
          Planning application record data
        </h2>
      </header>
      <div class="app-summary-card__body">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Notes</dt>
            <dd class="govuk-summary-list__value"></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Entry date</dt>
            <dd class="govuk-summary-list__value"></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Start date</dt>
            <dd class="govuk-summary-list__value"></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">End date</dt>
            <dd class="govuk-summary-list__value"></dd>
          </div>
        </dl>
      </div>
    </section>
  </div>
  <div class="govuk-grid-column-one-third">

    <div class="app-related-items" role="complementary">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-0" id="view-the-data">
        Linked data
      </h2>
      <p class="govuk-hint govuk-!-font-size-14">View linked data to this plan</p>
      <nav role="navigation" aria-labelledby="view-the-data">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="#timetable">Activity log</a>
          </li>
          <li>
            <a class="govuk-link" href="#documents">Supporting documents</a>
          </li>
        </ul>
      </nav>

    </div>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 id="timetable" class="govuk-heading-m govuk-!-margin-top-9">Planning application log</h2>
    <p class="govuk-body">The stages a planning application has gone through.</p>
  </div>
</div>

<table class="govuk-table app-timetable">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Status</th>
      <th scope="col" class="govuk-table__header">Event date</th>
      <th scope="col" class="govuk-table__header">Organisation</th>
      <th scope="col" class="govuk-table__header app-cell--meta">Documentation URL</th>
      <th scope="col" class="govuk-table__header app-cell--meta">Document URL</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for log in logs %}
    <tr>
      <td>{{log.name}}</td>
      <td>{{log.event_date}}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p class="govuk-body dl-secondary-text">No status or events logged. This is a prototype built with limited source data so expect there to be a few gaps.</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 id="documents" class="govuk-heading-m govuk-!-margin-top-9">Supporting documents</h2>
    <p class="govuk-body">Any documents associated with the planning application.</p>
    <p class="govuk-body dl-secondary-text">No documents collected. This is a prototype built with limited source data so expect there to be a few gaps.</p>
  </div>
</div>
{% endblock content %}
