{% extends 'layouts/base.html' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Index of planning applications</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    {% include 'partials/search-facets.html' %}
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="app-results-summary">
      {% set count = planning_applications.items|count %}
        <h2 class="app-results-summary__title">Showing {{ count }} planning application{{ "" if count == 1 else "s" }}</h2>
      <ul>
        {% for planning_application in planning_applications.items %}
          <li>{{planning_application.reference}}</li>
        {% endfor %}
      </ul>
      {% if prev_url %}
        <a href="{{ prev_url }}">Previous</a>
      {% endif %}
      {% if next_url %}
        <a href="{{ next_url }}">Next</a>
      {% endif %}
      {% if count == 0 %}
        <p class="govuk-body dl-secondary-text">No planning applications found for this search. This is a proof of concept and only has a limited set of data.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
