{% extends 'layouts/base.html' %}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Index of planning applications</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

    <form action="/planning-application" class="govuk-form" method="GET">
      <h3 class="govuk-heading-m">Search</h3>
      <div class="govuk-form-group">
        <label class="govuk-label" for="planning_application_reference">
          Application reference
        </label>
        <input class="govuk-input" id="planning_application_reference" name="planning_application_reference" type="text">
      </div>
      <div class="govuk-button-group">
        {{ govukButton({
          "text": "Search"
        }) }}
        <a href="{{ search_form_url }}" class="govuk-link">Clear</a>
      </div>
    </form>

    {% include 'partials/search-facets.html' %}
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="app-results-summary">
      {% set count = planning_applications.items|count %}
      <h2 class="app-results-summary__title">Showing {{ count }} of {{ planning_applications.total|commanum }} planning application{{ "" if planning_applications.total == 1 else "s" }}</h2>
      <ul class="govuk-list">
        {% for planning_application in planning_applications.items %}
          <li><a href="{{ url_for('planning_application.plan', reference=planning_application.reference)}}" class="govuk-link">{{planning_application.reference}}</a></li>
        {% endfor %}
      </ul>
      {% if prev_url %}
        <a href="{{ prev_url }}">Previous</a>
      {% endif %}
      {% if next_url %}
        <a href="{{ next_url }}">Next</a>
      {% endif %}
      {% if count == 0 %}
        <p class="govuk-body dl-secondary-text">No planning applications found for this search. This is a proof of concept and only has a limited set of data.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
