{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from 'components/filter-checkboxes/macro.jinja' import dlFilterCheckboxes %}
{%- from "components/filter-group/macro.jinja" import dlFilterGroup %}

<form action="/planning-application" class="govuk-form" method="GET">
  <h3 class="govuk-heading-m">Filters</h3>

  <!-- filter by decision made or not -->
  <div class="govuk-form-group">
    {% call dlFilterGroup({
      "title": "Live/Decision",
      "is_open": True,
      "selected": 1
    }) %}
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading govuk-visually-hidden">
          Do you want to see live applications, applications with a decision or both?
        </h1>
      </legend>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="decision" name="decision" type="radio" value="all" checked=checked>
          <label class="govuk-label govuk-radios__label" for="decision">
            All
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="decision-2" name="decision" type="radio" value="live">
          <label class="govuk-label govuk-radios__label" for="decision-2">
            Live
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="decision-3" name="decision" type="radio" value="decision-made">
          <label class="govuk-label govuk-radios__label" for="decision-3">
            Decision made
          </label>
        </div>
      </div>

    </fieldset>
    {% endcall %}
  </div>

  <!-- planning authority facet -->
  <div class="govuk-form-group">
    {% call dlFilterGroup({
      "title": "Planning authority",
      "is_open": True,
      "selected": 0
    }) %}
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="planning_authority-camden" name="planning_authority" type="checkbox" value="local-authority-eng:ADU">
        <label class="govuk-label govuk-checkboxes__label" for="planning_authority-camden">
          Adur and Worthing
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="planning_authority-camden" name="planning_authority" type="checkbox" value="local-authority-eng:CMD">
        <label class="govuk-label govuk-checkboxes__label" for="planning_authority-camden">
          Camden
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="planning_authority-camden" name="planning_authority" type="checkbox" value="local-authority-eng:NGM">
        <label class="govuk-label govuk-checkboxes__label" for="planning_authority-camden">
          Nottingham
        </label>
      </div>
    </div>
    {% endcall %}
  </div>

  <!-- filter by entry date -->
  <div class="govuk-form-group">
    {% call dlFilterGroup({
      "title": "Applications since",
      "is_open": True,
      "selected": 0
    }) %}
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="entry-date-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading govuk-visually-hidden">
            Enter date to search for applications since
          </h1>
        </legend>
        <div id="entry-date-hint" class="govuk-hint">
          For example, 27 3 2021
        </div>
        <div class="govuk-date-input" id="entry-date">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="entry_date_day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="entry_date_day" name="entry_date_day" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="entry_date_month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="entry_date_month" name="entry_date_month" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="entry_date_year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="entry_date_year" name="entry_date_year" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    {% endcall %}
  </div>

  <div class="govuk-button-group">
    {{ govukButton({
      "text": "Search"
    }) }}
    <a href="{{ search_form_url }}" class="govuk-link">Clear</a>
  </div>

</form>
