// import all digital land and GOVUK Frontend scss
@import "digital-land-frontend/dl-frontend";

// app specific component scss
@import "components/pagination";
@import "components/search-results";
@import "components/summary-card";
